@font-face {
   font-family: 'Fira Sans';
   font-style: normal;
   font-weight: 300;
   src: local('../fonts/firasans-black-webfont.woff'), format('woff');
 }

 .header--sticky {
   position: sticky;
   top: 0;
   background: #ffffff;
 }

.header {
   /* position: relative;
   top: 0; */
   display: flex;
   justify-content: space-around;
   height: 50px;
   padding: 10px;
   z-index: 111;
}

.header__logoDiv {
   width: 150px;
}

.header__logo {
   padding-top: 15px;
}

/* ===============================
   ======== MEDIA QUERIES ========
   =============================== */

@media only screen and (max-width: 989px) {
   .header {
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 8%;
   }
}