* {
   --border: 1px solid blue;
}
body {
   background: #f6f5f1;
   background: linear-gradient(45deg, #f6f5f1 35%, #16a596 35%,#16a596 100%);
   background-repeat: no-repeat;
}

.background {
   position: absolute;
   top: 50px;
   left: 0;
   z-index: 0;
}

@media only screen and (max-width: 989px) {
   body {
      background: #f6f5f1;
   }
}